.app {
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 250px;
  background-color: #f3e9be;
  display: flex;
  padding: 16px;
  border-radius: 20px;
  box-shadow: 2px 6px 39px 0px #3b31002d;
}

.record {
  position: absolute;
  bottom: 266px;
  opacity: 0.7;
  line-height: 1.4em;
  padding-right: 14px;
}

.output {
  position: relative;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.output::before,
.output::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 2px solid #333;
}

.output::before {
  top: -2px;
  left: -2px;
}

.output::after {
  bottom: -2px;
  right: -2px;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px 8px;
}

.button {
  display: block;
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: 0;
  right: 0;
  bottom: 22px;
  font-size: 20px;
  line-height: 1.4em;
  background-color: #388f87;
  color: #fff;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.item {
  width: calc(50% - 4px);
  line-height: 24px;
  display: flex;
  gap: 8px;
  padding-bottom: 4px;
  border-bottom: 1px solid #333;
}

.number {
  min-width: 24px;
  height: 24px;
  text-align: center;
  background-color: #333;
  border-radius: 12px;
  color: #f3e9be;
}

.accent .number {
  background-color: #ef4456;
}

.accent .theme {
  font-weight: bold;
  color: #ef4456;
}

@media (max-width: 767px) {
  .wrapper {
    height: 300px;
  }

  .record {
    bottom: 316px;
  }
}
